body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  font-size: 1.5vw;
}

#logo {
  color: #f1e4e8;
  margin: 0px;
  padding: 6px;
  font-family: Caveat, sans-serif;
}

ul {
  margin: 0px;
}

body > header {
  background-color: #4fb286;
  color: white;
  display: flex;
  height: 12vh;
  align-items: center;
  justify-content: space-around;
}

#nav-ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

.navbutton {
  color: white;
  text-decoration: white;
  padding: 4px;
  border: 1px solid #f1e4e8;
  border-radius: 10%;
}

body > main article {
  width: 60%;
  margin: auto;
}

#main-content {
  display: flex;
}

.dropbtn {
    background-color: #FF007F;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
.dropdown-content a:hover {background-color: #F1E4E8 ;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #648DE5;}

.recipe-title {
  font-family: Caveat, sans-serif;
  font-size: 50px;
  color: #454372;
}

img {
  max-width: 30%;
  max-height: 50%;
}

form {
  text-align: center;
}
  
h2 {
  text-align: center;
}
  
body > footer {
  background-color: #4fb286;
  color: white;
  display: flex;
  height: 12vh;
  align-items: center;
  justify-content: space-around;
}

#footer-ul {
    display: flex;
    list-style: none;
}


#footer-ul > li > a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

footer > h2 {
  font-family: Caveat, sans-serif;
  color: #F1E4E8;
}
